<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    
    <div>
      <label for="movieTitle">Movie Title:</label>
      <input id="movieTitle" formControlName="movieTitle" placeholder="Enter movie title">
      <div *ngIf="movieForm.get('movieTitle')?.invalid && movieForm.get('movieTitle')?.touched">
        <small class="error">Movie title is required.</small>
      </div>
    </div>
  
    
    <div>
      <label for="releaseDate">Release Date:</label>
      <input id="releaseDate" formControlName="releaseDate" type="date">
      <div *ngIf="movieForm.get('releaseDate')?.invalid && movieForm.get('releaseDate')?.touched">
         <small class="error">Release date is required.</small>
      </div>
    </div>
  
    
    <div>
      <label for="movieDescription">Description:</label>
      <textarea id="movieDescription" formControlName="movieDescription" placeholder="Enter movie description"></textarea>
      <div *ngIf="movieForm.get('movieDescription')?.invalid && movieForm.get('movieDescription')?.touched">
        <small class="error">Movie description is required.</small>
      </div>
    </div>
  
    
    <div>
      <label for="moviePoster">Poster URL:</label>
      <input id="moviePoster" formControlName="moviePoster" placeholder="Enter movie poster URL">
      <div *ngIf="movieForm.get('moviePoster')?.invalid && movieForm.get('moviePoster')?.touched">
        <small class="error">Movie poster is required.</small>
      </div>
    </div>
  
    
    <div>
      <label for="genre">Genre:</label>
      <input id="genre" formControlName="genre" placeholder="Enter movie genre">
      <div *ngIf="movieForm.get('genre')?.invalid && movieForm.get('genre')?.touched">
        <small class="error">Genre is required.</small>
      </div>
    </div>
  
    
    <div>
      <label for="directorName">Director Name:</label>
      <input id="directorName" formControlName="directorName" placeholder="Enter director name">
      <div *ngIf="movieForm.get('directorName')?.invalid && movieForm.get('directorName')?.touched">
        <small class="error">Director name is required.</small>
      </div>
    </div>
  
    <div>
      <label for="directorEmail">Director Email:</label>
      <input id="directorEmail" formControlName="directorEmail" placeholder="Enter director email">
      <div *ngIf="movieForm.get('directorEmail')?.invalid && movieForm.get('directorEmail')?.touched">
        <small class="error">Valid email is required.</small>
      </div>
    </div>
  
    <div>
      <label for="directorPicture">Director Picture:</label>
      <input id="directorPicture" formControlName="directorPicture" placeholder="Enter director picture URL" type="file">
      <div *ngIf="movieForm.get('directorPicture')?.invalid && movieForm.get('directorPicture')?.touched">
        <small class="error">Director picture is required.</small>
      </div>
    </div>
  
    
    <div formArrayName="castMembers">
      <div *ngFor="let castMember of castMembers.controls; let i = index" [formGroupName]="i">
            <fieldset>
                <legend>Cast Member {{ i + 1 }}</legend>
        
                
                <div>
                    <label for="actorName-{{ i }}">Actor Name:</label>
                    <input id="actorName-{{ i }}" formControlName="actorName" placeholder="Enter actor name">
                    <div *ngIf="castMember.get('actorName')?.invalid && castMember.get('actorName')?.touched">
                    <small class="error">Actor name is required.</small>
                    </div>
                </div>
        
                
                <div>
                    <label for="autobiographyLink-{{ i }}">Autobiography Link:</label>
                    <input id="autobiographyLink-{{ i }}" formControlName="autobiographyLink" placeholder="Enter autobiography link">
                    <div *ngIf="castMember.get('autobiographyLink')?.invalid && castMember.get('autobiographyLink')?.touched">
                    <small class="error">Autobiography link is required.</small>
                    </div>
                </div>
        
                
                <div>
                    <label for="picture-{{ i }}">Picture URL:</label>
                    <input id="picture-{{ i }}" formControlName="picture" placeholder="Enter picture" type="file">
                    <div *ngIf="castMember.get('picture')?.invalid && castMember.get('picture')?.touched">
                    <small class="error">Picture URL is required.</small>
                    </div>
                </div>
    
            
            <button type="button" (click)="removeCastMember(i)">Remove Cast Member</button>
            </fieldset>
      </div>
  
      
      <button type="button" (click)="addCastMember()">Add Cast Member</button>
    </div>
  
    
    <button type="submit" [disabled]="movieForm.invalid">Submit</button>
</form>
  